.jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    margin: 0px;
    background-color: rgb(78, 78, 78);
    font-family: Jura, sans-serif;
    color: rgb(255, 255, 255); /* trocado de preto para branco */
}
input:focus{
    outline: none;
    color: rgb(255, 255, 255); /* trocado de preto para branco */
}
input{
    color: rgb(255, 255, 255); /* trocado de preto para branco */
}
.cabecalho{
    background-color: black;
    color:  rgb(214, 175, 1);
    margin: 0px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.cabecalho a{
    text-decoration: none;
    color:  rgb(214, 175, 1);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h1{
    font-size: 50px;
    text-align: center;
}
.info{
    background-color: rgb(0, 0, 0); /* trocado de branco para preto */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
}
#apresentacao{
    padding-left: 30px;
}
#nomepartipantesInput{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255); /* trocado de preto para branco */
    background-color: rgb(0, 0, 0) ; /* trocado de branco para preto */
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#container {
    font-size: 13px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* Alinha os itens ao início da linha */
}
#serie{
    
    padding-right: 20px;
}
#nome{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255); /* trocado de preto para branco */
    background-color: rgb(0, 0, 0) ; /* trocado de branco para preto */
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tel{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255); /* trocado de preto para branco */
    background-color: rgb(0, 0, 0) ; /* trocado de branco para preto */
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#numero{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255); /* trocado de preto para branco */
    background-color: rgb(0, 0, 0) ; /* trocado de branco para preto */
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.desc{
    padding-left: 25px;
    font-size: 13px;
    color: rgb(255, 255, 255); /* trocado de preto para branco */
}
#nomepartipantes{
    display: none;
}
#musicaInput{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255); /* trocado de preto para branco */
    background-color: rgb(0, 0, 0) ; /* trocado de branco para preto */
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#outro{
    display: none;
}
#outroInput{
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255); /* trocado de preto para branco */
    background-color: rgb(0, 0, 0) ; /* trocado de branco para preto */
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#participantes{
    margin: 20px;
    margin-left: 25px;
}
#check{
    padding-left: 0px;
}
#enviar{
    color: rgb(255, 255, 255); /* trocado de preto para branco */
    border-radius: 30px;
    margin-top: 20px;
    width: 50%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(214, 175, 1);}

.rodape{
    background-color: rgb(214, 175, 1);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: black;
    margin-top: 20px;
}
.line{
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}
#des{
    color: rgb(255, 255, 255);
}