.jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    margin: 0px;
    background-color: rgb(209, 209, 209);
    font-family: Jura, sans-serif;
    color: rgb(0, 0, 0);
}
input:focus{
    outline: none;
    color: rgb(0, 0, 0);
}
input{
    color: rgb(0, 0, 0);
}
h1{
    background-image: linear-gradient(to right, rgb(255, 225,0 ),rgb(218,165,32));
    margin: 0px;
    padding: 30px;
    font-size: 50px;
    text-align: center;
}
#sla{
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
}
#apresentacao{
    padding-left: 30px;
}
#nomepartipantesInput{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#container {
    font-size: 13px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* Alinha os itens ao início da linha */
}
#serie{
    
    padding-right: 20px;
}
#nome{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tel{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#numero{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.desc{
    padding-left: 25px;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
#nomepartipantes{
    display: none;
}
#musica{
    display: none;
}
#musicaInput{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#outro{
    display: none;
}
#outroInput{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
    height: 25px;
    padding-left: 10px;
    margin-top: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#participantes{
    margin-left: 25px;
}
#enviar{
    color: rgb(0, 0, 0);
    border-radius: 30px;
    margin-top: 20px;
    width: 50%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgb(255, 225,0 ),rgb(218,165,32));
}
